<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zidian.teacher">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_teacher_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.mine.activity.AboutActivity" />
        <activity android:name=".ui.mine.activity.ChangeInfoActivity" />
        <activity android:name=".ui.course.activity.CourseInfoActivity" />
        <activity android:name=".ui.course.activity.AttendanceActivity" />
        <activity android:name=".ui.course.activity.AttendanceStatisticsActivity" />
        <activity android:name=".ui.mine.activity.FeedbackActivity" />
        <activity android:name=".ui.evaluate.activity.MyTaskActivity" />
        <activity android:name=".ui.evaluate.activity.ColleagueEvaActivity" />
        <activity android:name=".ui.evaluate.activity.InviteActivity" />
        <activity android:name=".ui.evaluate.activity.ApplyToEvaActivity" />
        <activity android:name=".ui.evaluate.activity.InviteSelectTeacherActivity" />
        <activity android:name=".ui.evaluate.activity.SupervisorEvaActivity" />
        <activity android:name=".ui.evaluate.activity.EvaluateActivity"/>
        <activity android:name=".ui.evaluate.activity.CheckColleagueEvaActivity"/>
        <activity android:name=".ui.evaluate.activity.CheckSupervisorEvaActivity"/>
        <activity android:name=".ui.evaluate.activity.SupervisorFeedbackActivity"/>
        <activity android:name=".ui.evaluate.activity.MyEvaluateActivity"/>
        <activity android:name=".ui.evaluate.activity.StudentEvaTwoIndexActivity"/>
        <activity android:name=".ui.evaluate.activity.ColleagueEvaTwoIndexActivity"/>
        <activity android:name=".ui.questionnaire.activity.AddQuestionnaireActivity"/>
    </application>

</manifest>